body {

    background: #04b4e0;
    font-family: "Open Sans", sans-serif;
    color: whitesmoke;
    font-size: 17px;



}

#top-image {
    background: url("./images/main_bg.png") -25px -50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
    background-size: calc(100% + 50px);
}

/* scroll bar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #202020;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #404040;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #383838;
}

/*titles*/
.color-text {
    display: flex;
    margin-bottom: -9px;
}

.text-a {

    font-weight: bolder;
    padding-right: 10px;
    margin: 10px 0px 10px 0px;
}

.text-b {
    color: #6baaea;
    margin: 10px 0px 10px 0px;

}

h2 {
    padding: 10px;
    margin-right: 11%;
    width: 100%;
    height: 10%;
    font-size: 40px;
    margin-top: 1%;

    border-color: linear-gradient(0deg, rgba(0, 118, 255, 1) 35%, rgba(77, 77, 255, 1) 65%, rgba(205, 0, 188, 1) 100%);
    background-image: linear-gradient(0deg, rgba(0, 118, 255, 1) 35%, rgba(77, 77, 255, 1) 65%, rgba(205, 0, 188, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 30px;
    margin-left: 15px;
}


/* main */
.main {
    background: #202020;
    width: 83%;
    height: 77%;
    z-index: 5;
    position: absolute;
    display: flex;
    margin-top: 5%;
    margin-left: 6%;
    border-radius: 45px;
    overflow: hidden;
}

/* profile-pic  */
.profile-pic {
    background: #696969;
    width: 30%;
    height: 200%;
    border: none;
    border-radius: 45px;
    overflow: unset;
    border-top-right-radius: 0px;
}

.profile {
    background: #222222;
    width: 73%;
    height: 100%;
    border: none;
    border-radius: 45px;
    margin-left: -39px;
    float: left;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;

    transform:translateY(600px);

    /* transition: 2s; */
    /* transform-style: preserve-3d; */
}
.profile.animate
{

    transform:translateY(0px);
    transition: 2s;
    transform-style: preserve-3d;
   
}

  

.profile-pic .pic {

    width: 220px;
    position: relative;
    height: 220px;
    margin: 58px 0px 0px 60px;
    border-radius: 116px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0 3px 9px black, inset 0 0 9px white;

}


.profile-pic img {
    position: relative;
    top: -36px;
    right: 10px;
    width: 241px;
}

.profile-pic .name {
    position: relative;
    left: 99px;
    top: -7px;
}

.profile-pic p {
    position: relative;
    top: -30px;
    left: 99px;
    font-size: 18px;
}

.profile-pic .social-icons {
    font-size: 30px;
    position: relative;
    top: -10px;
    left: 126px;
}

.profile-pic a {
    padding-right: 20px;
    text-decoration: none;
    color: #fff;
}

.icon:hover {
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(90deg, #cd067c -115.12%, #ff6e05 177.33%), linear-gradient(41deg, #121212, #121212);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* side bar */
.side-bar {
    background: #404040;
    width: 5%;
    height: 51%;
    display: block;
    position: fixed;
    margin: 6% 1% 14% 91%;
    border-radius: 45px;
}

.navContent {
    padding: 2px;
    border: 44px;
    position: relative;
    display: table;
    height: 40px;
    width: 40px;
    margin: 17px;
}

.navContent i {
    padding: 1px;
    font-size: 27px;
    margin-left: 3px;
    color: #696969;
}

.fa-solid:hover {

    background-image: linear-gradient(0deg, rgba(0, 118, 255, 1) 35%, rgba(77, 77, 255, 1) 65%, rgba(205, 0, 188, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: #4D4DFF; */

}

.side-bar .icon-name {

    background-color: #04b4e0;
    color: #fff;
    padding: 2px;
    margin-top: 1px;
    border: none;
    /* border-radius: 6px; */
    font-size: 16px;
    margin-left: 68px;
    display: flex;
    opacity: 0;

    width: 70px;
    justify-content: space-evenly;

}

.navContent.active .icon-name {
    opacity: 1;
    margin-left: -44px;
    margin-right: 36px;
    transition: 0.5s;

}


/*profile*/
.profile.name .content {
    font-size: 29px;
    margin: 153px 232px 19% 315px;
    padding: 10px;
}

.contents {
    margin-left: 23px;
    width: 100%;
}

.home,
.about,
.resume,
.work,
.message {
    display: none;
}


/* about  */
.about.active {
    display: contents;
    
   
}

  

.about.active .box-dis-det {
    display: flex;
}

.about.active .discription {
    width: 50%;
    padding: 1px;
    margin-left: 10px;
}

.about.active .details {
    width: 50%;
    padding: 10px;
    padding-left: 14%;

}

.about.active .what-i-do {
    position: relative;
    display: flex;

}

.about h3 {
    font-size: 30px;
    margin-left: 15px;
}

.about h4 {
    margin-top: -3px;
    margin-bottom: 10px;
    font-size: 23px;

}


.about.active h2 {
    padding: 10px;
    margin-right: 11%;
    width: 100%;
    height: 10%;
}

.about.active .wid-contents {
    position: absolute;
    display: flex;
    margin: 9% 10% 5% 1%;
    padding: 5px;

}

.about.active .wid-content {
    float: left;

    width: 50%;
    padding: 5px;
}

.about.active .wid-contents2 {
    position: absolute;
    display: flex;
    margin: 26% 10% 11% 2%;
}


.about.active .details .text-a {

    color: #6baaea;
    font-weight: bolder;
    padding-right: 10px;
    margin: 10px 0px 10px 0px;
}

.about.active .details .text-b {
    margin: 10px 0px 10px 0px;
    color: whitesmoke;
}


/* resume  */
.resume.active {
    display: contents;

}



.resume.active h2 {

    /* border-color: linear-gradient(to right, #fc5c7d, #6a82fb);; */
    /* background-image: linear-gradient(to right, #fc5c7d, #6a82fb); */

    border-color: linear-gradient(0deg, rgba(0, 118, 255, 1) 35%, rgba(77, 77, 255, 1) 65%, rgba(205, 0, 188, 1) 100%);
    background-image: linear-gradient(0deg, rgba(0, 118, 255, 1) 35%, rgba(77, 77, 255, 1) 65%, rgba(205, 0, 188, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resume.active h3 {

    font-size: 30px;
}


.resume.active .left-sec,
.resume.active .right-sec {
    height: 600px;
    margin: -34px 20px 20px 5px;
    padding-bottom: 10px;
    position: relative;
    width: 47%;
    float: left;

    /* background-color: #4D4DFF; */
}



.resume.active .item h4 {
    margin-top: -3px;
    margin-bottom: 10px;
    font-size: 23px;

}

.resume.active .item h5 {
    margin: 10px 0 0px 0px;
    font-family: "Segoe UI";
    font-style: italic;




}

.resume.active .item small {
    font-family: "Segoe UI";
}



.resume.active .item {
    position: relative;
    border-image: linear-gradient(to bottom, #4D4DFF, rgba(0, 0, 0, 0)) 1 100%;
    border-style: solid;
    border-right: none;
    padding: 0px 0px 5px 26px;

}

.resume .item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: -4px;
    background: #fff;
    border: 2px solid #1f5297;
    border: 3px transparent;
    background: linear-gradient(0deg, rgba(0, 118, 255, 1) 35%, rgba(77, 77, 255, 1) 65%, rgba(205, 0, 188, 1) 100%);
}


/* skills */

.skills .progress {
    width: 80%;
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
    padding-right: 10px;
}

.skills .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.skills .progress-bar-wrap {
    background: #202020;
    /* background-color: #4D4DFF; */
    height: 10px;
}

.skills .progress-bar {
    width: 91%;
    height: 10px;
    transition: 0.9s;
    border-radius: 5px;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

.progress {
    --bs-progress-height: 1rem;
    --bs-progress-font-size: 0.75rem;
    --bs-progress-bg: #e9ecef;
    --bs-progress-border-radius: 0.375rem;
    --bs-progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-progress-bar-color: #fff;
    --bs-progress-bar-bg: #0d6efd;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    background-color: var(--bs-progress-bg);
    border-radius: var(--bs-progress-border-radius);
}


.skills i {
    margin-left: 90%
}

.skills {
    margin-left: 9px;
    margin-top: 2px;
}

.skill p {
    margin-bottom: -13px;
}


.skills #react {
    width: 50%;
}

.skills #html {
    width: 80%;
}

.skills #css {
    width: 65%;
}

.skills #js {
    width: 60%;
}

.skills #java {
    width: 60%;
}

.skills #python {
    width: 60%;
}

.skills #aws {
    width: 40%;
}

.skills #git {
    width: 70%;
}

.skills #mongodb {
    width: 40%;
}

/* knowledge */
.skills .knw-title {
    padding: 2px;
    background: #4D4DFF;
    width: fit-content;
    border: none;
    border-radius: 7px;
    float: left;
    margin-right: 10px;
    margin-top: 1px;
}

.skills.knw {
    margin-top: 20px;
    padding-bottom: 10px;
}


.experience h3 {
    margin-top: 20px;
}


/* message */
.message.active {
    display: contents;
}

.message .msg-text,
.message .form {
    height: 600px;
    margin: 0px 20px 20px 5px;
    padding-bottom: 10px;
    position: relative;
    float: left;
    /* background-color: gold; */
}

.message .msg-text {
    width: 20%;
    margin-left: 55px;
}

.message .email-form {
    width: 50%;
    margin-left: 328px;
}


.msg-text .msg-item {
    background: #383838;
    border: none;
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 20px;


}

.msg-text .msg-item i {
    font-size: 35px;
    padding: 16px 0px 1px 53px;
}

.msg-text .msg-item p {
    font-size: 15px;
}


/* form */
.email-form form {
    display: inline-grid;
}

.email-form input {
    padding: 10px 0px 10px 10px;
    width: 200%;
    border: none;
    border-radius: 12px;
    margin-bottom: 15px;
    font-size: 15px;
}

.email-form .email-msg {
    margin-left: 0;

}

.email-form textarea {
    width: 200%;
    border-style: double;
    border-radius: 12px;
    padding: 5px;
    height: 220%;
    font-size: 15px;

}

.email-form .submit-btn {
    display: flow-root;
    position: absolute;
    margin: 391px 0px 0px 117px;
    padding: 10px 40px 10px 40px;
    border: solid #04b4e0;
    border-radius: 25px;
    background: #222222;
    color: whitesmoke;
    font-size: 17px;
}

.submit-btn:hover {
    /* background-image: linear-gradient(0deg, rgba(0, 118, 255, 1) 35%, rgba(77, 77, 255, 1) 65%, rgba(205, 0, 188, 1) 100%); */
    border-color: linear-gradient(0deg, rgba(0, 118, 255, 1) 35%, rgba(77, 77, 255, 1) 65%, rgba(205, 0, 188, 1) 100%);
    background: #04b4e0;
    color: #222222;

}

.email-form input:focus {
    outline: transparent;
    border-color: #1b74e4;
    box-shadow: 0 0 0 2px #6baaea;
    caret-color: #1b74e4;
}

.email-form textarea:focus {
    outline: transparent;
    border-color: #1b74e4;
    box-shadow: 0 0 0 2px #6baaea;
    caret-color: #1b74e4;
}


label.error.fail-alert {
    color: #BA0021;
    display: block;
    margin-top: -10px;
}

input.error {
    border: 2px solid #BA0021;
}

input.valid {
    border: 2px solid #1DB954;
}


/* home */
/* animated text */
.home.active {
    font-size: 29px;
    margin: 153px 232px 19% 315px;
    padding: 10px;
    display: contents;
    overflow: hidden;
    color: #fff;
}

.home.active .data-name {

    /* background-image: linear-gradient(0deg, rgba(0, 118, 255, 1) 35%, rgba(77, 77, 255, 1) 65%, rgba(205, 0, 188, 1) 100%); */
    background-image: linear-gradient(90deg, #cd067c -115.12%, #ff6e05 177.33%), linear-gradient(41deg, #121212, #121212);
    ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    font-size: 30px;

    text-align: center;
    /* font-family: poppins; */
    font-size: 2em;
    letter-spacing: 12px;
    font-weight: 600;

}



.home.active .container {
    width: 100%;
    position: relative;
    margin-top: 20%;
    left: 10%;
    /* transform: translate(-50%, -50%); */

}

.home.active .data {
    width: 76%;
}

.home.active .quote {
    width: 100%;
    padding-left: 26%;

}

.home.active .quote-text {
    margin: -43px 0px 0px 0px;
}


/* portfolio page */
.work.active {
    display: contents;
}


.work.active .project {
    background-color: #222222;
    margin-top: 20px;
    padding: 1px;
    display: flex;
}

.work.active .project-link {
    width: 250px;
    height: 250px;
    margin: 20px 0px 20px 20px;
    padding: 0px 0px 0px 0px;
    background-color: #383838;
    font-style: oblique;

    position: relative;
    display: flex;
    text-decoration: none;
    color: whitesmoke;

}

.project-link:hover {
    transform: scale(1.3);
    transition: 0.2s;
    z-index: 1;
    position: relative;
    background-image: linear-gradient(90deg, #cd067c -115.12%, #ff6e05 177.33%), linear-gradient(41deg, #121212, #121212);
}


.work.active .project-text {
    position: relative;
    top: 30%;
    left: 20%;
    font-size: 25px;
}

.work.active #youtube {
    left: 5%;
}

.work.active #calculator {
    left: 1%
}

.work.active #python {
    left: 17%;
}