body {
    background: #4D4DFF;
    font-family: "Open Sans", sans-serif;
    color: #fff;

}

#top-image {
    background: url("./images/main_bg.png") -25px -50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
    background-size: calc(100% + 50px);
}

.main {
    background: #202020;
    width: 77%;
    height: 73%;
    z-index: 5;
    position: absolute;
    display: flex;
    margin-top: 6%;
    margin-left: 11%;
    border-radius: 45px;
}

.profile-pic {

    background: #282828;
    width: 30%;
    border: none;
    border-radius: 45px;
}

.profile {
    background: #222222;
    width: 70%;
    border: none;
    border-radius: 45px;
    float: left;


}

.side-bar {
    background: #404040;
    width: 5%;
    height: 51%;
    display: block;
    position: fixed;
    margin: 6% 1% 14% 91%;
    border-radius: 26px;
}

.navContent {
    padding: 2px;
    border: 44px;
    position: relative;
    display: table;
    height: 40px;
    width: 40px;
    margin: 17px;
}

.navContent i {
    padding: 1px;
    font-size: 27px;
    margin-left: 3px;
    color: #696969;
}

.fa-solid:hover {
    background: linear-gradient(180deg, #cd067c -115.12%, #ff6e05 177.33%), linear-gradient(0deg, #121212, #121212);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.side-bar .icon-name {
     /* background-image: linear-gradient(to right, #fc5c7d, #6a82); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    background: linear-gradient(180deg, #cd067c -115.12%, #ff6e05 177.33%), linear-gradient(0deg, #121212, #121212);
    color: whitesmoke;
    padding: 2px;
    margin-top: 1px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    margin-left: 68px;
    display: flex;
    opacity: 0;

}

.navContent.active .icon-name{
    opacity: 1;
    margin-left: -44px;
    margin-right: 36px;
    transition: 0.2s;

}